{{/* Prepend content with YouTube video to guide. */}}

{{- $page := .Page }}
{{- $content := .Content }}
{{- with $page }}
  <article class="stage-guide">
    {{ partial "heading-pre.html" . }}
    <h1>
      Stage {{ strings.TrimLeft "0" .File.BaseFileName | int -}}:
      {{ .Title }}
    </h1>
    {{ partial "heading-post.html" . }}

    {{ partial "youtube-embed.html" (dict "id" page.Params.youtube) }}
    <h2>Note</h2>
    <p>
      This guide assumes that you have read the
      <a href="/masked-carnivale/basics">Basics & Spell Recommendations</a>
      page and have the baseline spells recommended there.
    </p>
    {{ $content | safeHTML }}
    <footer class="footline">
      {{- partial "content-footer.html" . }}
    </footer>
  </article>
{{- end }}
