[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "data/limited-job-data"]
	path = data/limited-job-data
	url = https://github.com/RoarkGit/Limited-Job-Data
