.tooltip {
  white-space: nowrap;
}

.tooltip-link {
  color: var(--MAIN-LINK-color);
  line-height: 1.15rem;
}

.tooltip-image {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.tooltip-image img {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  top: .15rem;

  margin: 0;
  max-height: 100%;
  width: auto;
}

.tooltip-popup-wrapper {
  box-shadow: 0 0 .25rem .25rem #182326;
  position: fixed;
  z-index: 100;
}

.tooltip-popup {
  --tooltip-color-secondary: #bbac94;
  --tooltip-padding: 1rem;
  --tooltip-image-size: 3rem;
  --tooltip-image-padding: calc(var(--tooltip-image-size) + var(--tooltip-padding) / 2);
  --tooltip-background-dot: radial-gradient(rgba(31, 48, 75, 0.5) 1px, transparent 0);
  --tooltip-background-dot-spacing: 4px;
  padding: var(--tooltip-padding);
  font-weight: normal;
  height: auto;
  width: 23rem;

  background: var(--tooltip-background-dot), var(--tooltip-background-dot), linear-gradient(to bottom, #3d578f var(--tooltip-padding), #3d4b69 calc(var(--tooltip-padding) * 2), #3d4b69);
  background-size: var(--tooltip-background-dot-spacing) var(--tooltip-background-dot-spacing), var(--tooltip-background-dot-spacing) var(--tooltip-background-dot-spacing), auto;
  background-position: 0 0, calc(var(--tooltip-background-dot-spacing) / -2) calc(var(--tooltip-background-dot-spacing) / -2), 0;
  color: #ffffff;
  font-size: .8rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.tooltip-popup-header {
  position: relative;
  padding-top: calc(var(--tooltip-padding) / 2);
  padding-left: var(--tooltip-image-padding);

  height: auto;

  align-items: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  box-shadow: 0 1px 0 0 rgba(71, 110, 188, 1);
}

.tooltip-popup-header>* {
  height: calc(var(--tooltip-image-size) / 2);
}

.tooltip-popup-header p {
  margin: 0;
}

.tooltip-popup-title {
  flex-basis: 100%;
  font-size: 1.1rem;
}

.tooltip-popup-image {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--tooltip-image-size);
  height: var(--tooltip-image-size);
}

.tooltip-popup-image img {
  border: solid 1px #000;
  border-radius: 10%;
  max-height: 100%;
  width: auto;
  box-shadow: 0px 1px 1px 0px #182326;
}

.tooltip-popup-type {
  color: var(--tooltip-color-secondary);
}

.tooltip-popup-range,
.tooltip-popup-range>* {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  line-height: 1rem;
}

.tooltip-popup-range>*+* {
  margin-left: 1em;
}

dt {
  font-style: normal;
}

dd {
  list-style: none;
}

.tooltip-popup-range dt {
  opacity: .5;
}

.tooltip-popup-range dt+dd {
  margin-left: .25rem;
}

.tooltip-popup-cast {
  flex-basis: calc(100% + var(--tooltip-image-padding));
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  margin-top: 0;
  margin-left: calc(var(--tooltip-image-padding) * -1);
  text-align: right;
}

.tooltip-popup-cast>* {
  position: relative;
  width: 30%
}

.tooltip-popup-cast>*:not(:empty)::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.15rem;
  width: 100%;
  height: .5rem;
  background: rgba(255, 255, 255, .1);
  border-radius: 1em;
}

.tooltip-popup-cast dd {
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-top: 0;
}

.tooltip-popup-cast dt {
  color: var(--tooltip-color-secondary);
}

.tooltip-popup-description {
  margin-top: .5rem;
}

.tooltip-popup p {
  line-height: 1rem;
  margin: 0;
}

.etro-gearset {
  position: relative;
  margin: auto;
  width: 45em;
  height: 40em;
}

.etro-gearset iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.fab {
  text-align: center;
  width: 1.1rem;
}

.tooltip-popup-additional-info,
.tooltip-popup-additional-info>* {
  display: flex;
  justify-content: flex-start;
  margin: .5rem 0 0 0;
  line-height: 1rem;
}

.tooltip-popup-range>*+* {
  margin-left: 1em;
}

.tooltip-popup-additional-info dt {
  color: rgb(0, 204, 34);
}

.tooltip-popup-additional-info dt+dd {
  margin-left: .25rem;
}