{{- if and (ne .Kind "home") (ne .Kind "section") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ partial "page-description.html" . }}",
  "url": "{{ .Permalink }}",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "image": "{{ with .Params.image }}{{ . }}{{ else }}https://mage.blue/images/logo.png{{ end }}",
  "author": {
    "@type": "Person",
    "name": "Liam Galt",
    "url": "https://na.finalfantasyxiv.com/lodestone/character/24242967/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Blue Academy",
    "logo": {
      "@type": "ImageObject",
      "url": "https://mage.blue/images/logo.png"
    }
  }
}
</script>
{{- end }}
