{{- if ne .Kind "home" }}
{{- $ancestors := slice }}
{{- range .Ancestors }}
  {{- if and (ne .Kind "home") (ne .Kind "taxonomy") }}
    {{- $ancestors = $ancestors | append . }}
  {{- end }}
{{- end }}
{{- $ancestorLen := len $ancestors }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://mage.blue/"
    }
    {{- $position := 1 }}
    {{- range $i, $_ := $ancestors }}
    {{- $ancestor := index $ancestors (sub (sub $ancestorLen 1) $i) }}
    {{- if $ancestor.Permalink }}
    {{- $position = add $position 1 }}
    ,{
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ $ancestor.Title }}",
      "item": "{{ $ancestor.Permalink }}"
    }
    {{- end }}
    {{- end }}
    {{- $position = add $position 1 }},
    {
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{- end }}
