{{- if and (ne .Kind "home") (ne .Kind "section") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://mage.blue/"
    }
    {{- $position := 1 }}
    {{- $ancestors := .Ancestors }}
    {{- range $ancestor := $ancestors }}
    {{- if and (ne $ancestor.Kind "home") (ne $ancestor.Kind "taxonomy") }}
    {{- $position = add $position 1 }}
    ,{
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ $ancestor.Title }}",
      "item": "{{ $ancestor.Permalink }}"
    }
    {{- end }}
    {{- end }}
    {{- $position = add $position 1 }},
    {
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{- end }}
