<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
<style>
:root {
  --MENU-S-width: 14.375rem;
  --MENU-M-width: 14.375rem;
  --MENU-L-width: 22rem;
}
</style>
{{- $plausible := resources.Get "ts/plausible-init.ts" | js.Build (dict "targetPath" "/js/plausible-init.js") -}}
<script defer src="{{ $plausible.RelPermalink }}"></script>
{{- $spellTooltips := resources.Get "/ts/spell-tooltips.ts" | js.Build (dict "targetPath" "/js/spell-tooltips.js") -}}
<script defer src="{{ $spellTooltips.RelPermalink }}"></script>
{{ partial "article-schema.html" . }}
{{ partial "organization-schema.html" . }}
{{ partial "breadcrumb-schema.html" . }}
{{ partial "website-schema.html" . }}
{{ partial "video-schema.html" . }}
{{ with .Params.customCss -}}
  <link rel="stylesheet" href="{{ . }}" />
{{- end }}
<link rel="stylesheet" href="/css/style.css" />
