<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
<style>
:root {
  --MENU-S-width: 14.375rem;
  --MENU-M-width: 14.375rem;
  --MENU-L-width: 22rem;
}
</style>
<script defer data-domain="stats.mage.blue" src="https://stats.mage.blue/js/script.outbound-links.tagged-events.js"></script>
{{- $spellTooltips := resources.Get "/ts/spell-tooltips.ts" | js.Build (dict "targetPath" "/js/spell-tooltips.js") -}}
<script defer src="{{ $spellTooltips.RelPermalink }}"></script>
{{ with .Params.customCss -}}
  <link rel="stylesheet" href="{{ . }}" />
{{- end }}
<link rel="stylesheet" href="/css/style.css" />
