{{- $currentGcd := (or .startingGcd 0) -}}
<div class="rotation">
  {{- range (index site.Data.rotation .rotation) -}}
    <div class="rotation-event">
      <div class="rotation-event-gcd-wrapper">
        <div class="rotation-event-gcd tooltip" data-tooltip-id="{{ .gcd }}">
          {{- $image := (printf "/images/tooltips/%s.png" .gcd) | resources.Get }}
          {{- $image = $image.Resize "48x webp" -}}
          {{- page.Store.SetInMap "tooltips" .gcd "spell" -}}
          <img src="{{ $image.RelPermalink }}" />
        </div>
        <div class="rotation-event-gcd-counter">
          {{- $currentGcd -}}
          {{- $currentGcd = add $currentGcd 1 -}}
        </div>
      </div>
      {{- if (eq $currentGcd 0) -}}
        <div class="rotation-event-pull-wrapper">
          Pull
          <div class="rotation-event-pull"></div>
        </div>
      {{- end -}}
      {{- range $id := .ogcd -}}
        {{- $type := "spell" -}}
        {{- if (strings.HasPrefix $id "role:") -}}
          {{- $id = strings.TrimPrefix "role:" $id -}}
          {{- $type = "role" -}}
        {{- end -}}
        <div class="rotation-event-ogcd-wrapper">
          <div class="rotation-event-ogcd tooltip" data-tooltip-id="{{ $id }}">
            {{- $image := (printf "/images/tooltips/%s.png" $id) | resources.Get }}
            {{- $image = $image.Resize "36x webp" -}}
            {{- page.Store.SetInMap "tooltips" $id $type -}}
            <img src="{{ $image.RelPermalink }}" />
          </div>
          <div class="rotation-event-ogcd-timebox-wrapper">
            <div class="rotation-event-ogcd-timebox"></div>
          </div>
        </div>
      {{- end -}}
    </div>
  {{- end -}}
</div>
