{{ with .Page.Store.Get "spell-tooltips" }}
  {{ range . | uniq | sort }}
    {{ $spell := index site.Data.spells . }}
    {{- $image := printf "/images/spells/%s.png" . | resources.Get -}}
    <div id="{{ . }}-tooltip" class="spell-tooltip-popup-wrapper" hidden>
      <aside class="spell-tooltip-popup">
        <header class="spell-tooltip-popup-header">
          <p class="spell-tooltip-popup-image"><img src="{{ $image.RelPermalink }}?featherlight=false"></p>
          <p class="spell-tooltip-popup-title">{{ $spell.name }}</p>
          <p class="spell-tooltip-popup-spell-info">{{ $spell.spellType }} / {{ $spell.spellAspect | default "Unaspected" }}</p>
          <p class="spell-tooltip-popup-type">{{ $spell.actionType }}</p>
          <dl class="spell-tooltip-popup-range">
            <span>
              <dt>Range</dt>
              <dd>{{ $spell.range | default 0 }}y</dd>
            </span>
            <span>
              <dt>Radius</dt>
              <dd>{{ $spell.radius | default 0 }}y</dd>
            </span>
          </dl>
          <dl class="spell-tooltip-popup-cast">
            <span>
              <dt>Cast</dt>
              <dd>
                {{- with $spell.cast -}}
                  {{ . | default 2.0 | lang.FormatNumberCustom 2 }}s
                {{- else -}}
                  Instant
                {{- end -}}
              </dd>
            </span>
            <span>
              <dt>Recast</dt>
              <dd>{{ $spell.recast | default 2.5 | lang.FormatNumberCustom 2 }}s</dd>
            </span>
            <span>
              <dt>MP Cost</dt>
              <dd>{{ $spell.mp }}</dd>
            </span>
          </dl>
        </header>
        <div class="spell-tooltip-popup-description">
          {{ $spell.description | markdownify }}
        </div>
      </aside>
    </div>
  {{ end }}
{{ end }}