{{- $tooltip := index (where (index site.Data .type) "id" .id) 0 -}}
{{- $image := (printf "/images/tooltips/%s.png" .id) | resources.Get }}
{{- $image = $image.Resize "48x webp" }}
<div id="{{ .id }}-tooltip" class="tooltip-popup-wrapper" hidden>
  <aside class="tooltip-popup ffxiv-ui-background">
    <header class="tooltip-popup-header">
      <p class="tooltip-popup-image">
        <img src="{{ $image.RelPermalink }}" loading="lazy" />
      </p>
      <p class="tooltip-popup-title">{{- $tooltip.name -}}</p>
      {{- if $tooltip.number -}}
        <p class="tooltip-popup-number">No. {{ $tooltip.number -}}</p>
      {{- end -}}
      <p class="tooltip-popup-type">{{- $tooltip.actionType -}}</p>
      <dl class="tooltip-popup-range">
        <span>
          <dt>Range</dt>
          <dd>{{- $tooltip.range | default 0 -}}y</dd>
        </span>
        <span>
          <dt>Radius</dt>
          <dd>{{- $tooltip.radius | default 0 -}}y</dd>
        </span>
      </dl>
      <dl class="tooltip-popup-cast">
        <span>
          <dt>Cast</dt>
          <dd>
            {{- with $tooltip.cast -}}
              {{- . | default 2.0 | lang.FormatNumberCustom 2 -}}s
            {{- else -}}
              Instant
            {{- end -}}
          </dd>
        </span>
        <span>
          <dt>Recast</dt>
          <dd>
            {{- $tooltip.recast | default 2.5 | lang.FormatNumberCustom 2 -}}s
          </dd>
        </span>
        <span>
          {{- if $tooltip.mp -}}
            <dt>MP Cost</dt>
            <dd>{{- $tooltip.mp -}}</dd>
          {{- else if $tooltip.hp -}}
            <dt>HP Cost</dt>
            <dd>{{- $tooltip.hp -}}</dd>
          {{- end -}}
        </span>
      </dl>
    </header>
    <div class="tooltip-popup-description">
      {{- $tooltip.description | markdownify -}}
    </div>
    {{- if (or $tooltip.number $tooltip.spellType $tooltip.rank) -}}
      <dl class="tooltip-popup-additional-info">
        {{- if $tooltip.spellType -}}
          <div>
            <dt>Aspect:</dt>
            <dd>
              {{ $tooltip.spellType }} /
              {{ $tooltip.spellAspect | default "Unaspected" -}}
            </dd>
          </div>
        {{- end -}}
        {{- if $tooltip.rank -}}
          <div>
            <dt>Rank:</dt>
            <dd>{{- strings.Repeat $tooltip.rank "★" -}}</dd>
          </div>
        {{- end -}}
      </dl>
    {{- end -}}
  </aside>
</div>
