{{- $tooltip := index (where (index site.Data .type) "id" .id) 0 }}
{{- if (not $tooltip) -}}
  {{- errorf "Could not locate data for spell %s." .id -}}
{{- end -}}
{{- $image := printf "/images/tooltips/%s.png" .id | resources.Get -}}
{{- if (not $image) -}}
  {{- errorf "Could not locate image for spell %s." .id -}}
{{- end -}}
{{- $image = $image.Resize "16x webp" -}}


<!-- span whitespace is annoying, so we need this to be one line -->
<!-- prettier-ignore -->
<span class="tooltip" data-tooltip-id="{{ .id }}"><span class="tooltip-image"><img src="{{ $image.RelPermalink }}?featherlight=false" /></span> <span class="tooltip-link">{{ $tooltip.name }}</span></span>
