{{- if not (page.Store.Get "rotationScriptIncluded") -}}
  {{- page.Store.Set "rotationScriptIncluded" true -}}
  {{- $script := resources.Get "/ts/rotation.ts" | js.Build (dict "targetPath" "/js/rotation.js") -}}
  <script defer src="{{ $script.RelPermalink }}"></script>
{{- end -}}
{{- $rotation := index site.Data.rotation (.Get 0) -}}

{{- /* ------------------------------------------------------------------ */}}
{{- /* Rotation display                                                     */}}
{{- /* ------------------------------------------------------------------ */}}
{{- $currentGcd := 0 -}}
{{- with $rotation.starting_gcd -}}
  {{- $currentGcd = int . -}}
{{- end -}}
<div class="rotation-wrapper">
<div class="rotation">
  {{- range $rotation.actions -}}
    <div class="rotation-event">
      <div class="rotation-event-gcd-wrapper">
        <div class="rotation-event-gcd tooltip" data-tooltip-id="{{ .gcd }}">
          {{- $image := (printf "/images/tooltips/%s.png" .gcd) | resources.Get -}}
          {{- if not $image -}}
            {{- errorf "Could not locate image for spell %s." .gcd -}}
          {{- end -}}
          {{- $image1x := $image.Resize "48x webp" -}}
          {{- $image2x := $image.Resize "96x webp" -}}
          {{- page.Store.SetInMap "tooltips" .gcd "spell" -}}
          <img src="{{ $image1x.RelPermalink }}" srcset="{{ $image2x.RelPermalink }} 2x" />
        </div>
        <div class="rotation-event-gcd-counter">
          {{- $currentGcd -}}
          {{- $currentGcd = add $currentGcd 1 -}}
        </div>
      </div>
      {{- if eq $currentGcd 0 -}}
        <div class="rotation-event-pull-wrapper">
          Pull
          <div class="rotation-event-pull"></div>
        </div>
      {{- end -}}
      {{- range $entry := .ogcd -}}
        {{- $parts := split $entry "*" -}}
        {{- $id := index $parts 0 -}}
        {{- $count := 1 -}}
        {{- if eq (len $parts) 2 -}}
          {{- $count = int (index $parts 1) -}}
        {{- end -}}
        {{- $type := "spell" -}}
        {{- if not (index (where site.Data.spell "id" $id) 0) -}}
          {{- $type = "action" -}}
        {{- end -}}
        {{- page.Store.SetInMap "tooltips" $id $type -}}
        {{- range seq $count -}}
          <div class="rotation-event-ogcd-wrapper">
            <div class="rotation-event-ogcd tooltip" data-tooltip-id="{{ $id }}">
              {{- $img := (printf "/images/tooltips/%s.png" $id) | resources.Get -}}
              {{- if not $img -}}
                {{- errorf "Could not locate image for spell %s." $id -}}
              {{- end -}}
              {{- $img1x := $img.Resize "36x webp" -}}
              {{- $img2x := $img.Resize "72x webp" -}}
              <img src="{{ $img1x.RelPermalink }}" srcset="{{ $img2x.RelPermalink }} 2x" />
            </div>
            <div class="rotation-event-ogcd-timebox-wrapper">
              <div class="rotation-event-ogcd-timebox"></div>
            </div>
          </div>
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}
</div>
</div>
