{{- $spellLoadoutBuilder := resources.Get "/ts/spell-loadout-builder.ts" | js.Build (dict "targetPath" "/js/spell-loadout-builder.js") -}}
<script defer src="{{ $spellLoadoutBuilder.RelPermalink }}"></script>
<div class="spell-loadout-builder-link-wrapper">
  <a href="." id="spell-loadout-builder-link">Link to this loadout</a>
</div>

<div id="spell-loadout-builder" class="spell-loadout ffxiv-ui-background">
  {{- range (seq 24) -}}
    <div class="spell-loadout-spell tooltip"></div>
  {{- end -}}
</div>