<style>
  #body .flex-block-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 80%;
  }
</style>

<table class="spell-list">
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Rank</th>
    <th>Location</th>
    <th>Notes</th>
  </tr>
  {{- range $.Site.Data.spell -}}
    {{- $imagePath := (printf "/images/spell/%s.png" .id) }}
    <tr>
      <td class="spell-list-number-cell">{{ .number }}</td>
      <td class="spell-list-nowrap-cell">
        {{ partial "tooltip-link" (dict "context" . "id" .id "type" "spell") }}
      </td>
      <td>{{- strings.Repeat .rank "★" -}}</td>
      <td class="spell-list-nowrap-cell">{{ .location | markdownify }}</td>
      <td>{{ .notes | markdownify }}</td>
    </tr>
  {{- end -}}
</table>

{{- range $.Site.Data.spell -}}
  {{- partial "tooltip.html" (dict "context" . "id" .id "type" "spell") }}
{{- end -}}
