{{- $spellLoadoutBuilder := resources.Get "/ts/spell-loadout-builder.ts" | js.Build (dict "targetPath" "/js/spell-loadout-builder.js") -}}
<script defer src="{{ $spellLoadoutBuilder.RelPermalink }}"></script>
{{- if not (page.Store.Get "spellLoadoutScriptIncluded") -}}
  {{- page.Store.Set "spellLoadoutScriptIncluded" true -}}
  {{- $script := resources.Get "/ts/spell-loadout.ts" | js.Build (dict "targetPath" "/js/spell-loadout.js") -}}
  <script defer src="{{ $script.RelPermalink }}"></script>
{{- end -}}
<div id="spell-loadout-builder" class="spell-loadout ffxiv-ui-background">
  {{- range (seq 24) -}}
    <div class="spell-loadout-spell tooltip"></div>
  {{- end -}}
  <div class="spell-loadout-builder-link-wrapper">
    <button id="copy-loadout-link" type="button" class="btn-ffxiv" title="Copy shortened URL to clipboard">Copy sharing link</button>
    <button id="sort-loadout" type="button" class="btn-ffxiv" title="Sort spells by number">Sort by spell number</button>
    <button id="clear-loadout" type="button" class="btn-ffxiv" title="Clear all spells">Clear all</button>
  </div>
</div>
<div class="spell-loadout-builder-macro-wrapper">
  <button id="spell-loadout-macro-toggle" type="button" class="btn-ffxiv spell-loadout-macro-header" hidden>
    <span>Spellbook Macro</span>
    <span class="spell-loadout-macro-toggle-icon">▼</span>
  </button>
  <div id="spell-loadout-macro-content" hidden>
    <div id="spell-loadout-macro-block-1" hidden>
      <pre id="spell-loadout-macro-1" class="spell-loadout-builder-macro"></pre>
      <button id="copy-macro-1" type="button" class="btn-ffxiv">Copy macro</button>
    </div>
    <div id="spell-loadout-macro-block-2" hidden>
      <pre id="spell-loadout-macro-2" class="spell-loadout-builder-macro"></pre>
      <button id="copy-macro-2" type="button" class="btn-ffxiv">Copy macro 2</button>
    </div>
  </div>
</div>
{{- if not (page.Store.Get "spellLoadoutTooltipsRendered") -}}
  {{- page.Store.Set "spellLoadoutTooltipsRendered" true -}}
  {{- range (index site.Data.spell) -}}
    {{- partial "tooltip.html" (dict "context" $ "id" .id "type" "spell") -}}
  {{- end -}}
{{- end -}}
