{{- $numRemaining := 24 -}}
<div class="spell-loadout ffxiv-ui-background">
  {{- with (.Get "loadout") | or (.Get "spells") -}}
    {{- $spellNumbers := split . "," -}}
    {{- $numRemaining = sub $numRemaining (len $spellNumbers) -}}
    {{- range $spellNumbers -}}
      {{- $n := int . -}}
      {{- if gt $n 0 -}}
        {{- partial "spell-loadout-tooltip" (dict "context" . "number" $n) -}}
      {{- else -}}
        <div class="spell-loadout-spell"></div>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range (seq $numRemaining) -}}
    <div class="spell-loadout-spell"></div>
  {{- end -}}
</div>
